@import url('./reset.css');

*::before, *, *::after { box-sizing: border-box;}

body {
    background-color: rgb(3, 3, 3);
    overflow: hidden;
}

canvas {
    border: 3px solid #fff5;
    width: 100vw;
    height: 100vh;
}

.x, .y {
    position: fixed;
    z-index: 10;
    background-color: #555;
    width: 250px;
    height: 20px;
    left: 10px;
}

.x {
    top: 10px;
}

.y {
    top: 40px;
}